<!-- This form is incomplete--it needs a destination URL as well as a method: -->
<form action="/guess" method="post">
  <intput type="text" size="1" name="new" autocomplete="off"/>
  <input type="submit" value="New Game"/>
</form>
